@page "/admin"
@attribute [Authorize(Roles = "Admin")]

@using Microsoft.AspNetCore.Identity
@using quikJobs.Data

@inject UserManager<ApplicationUser> UserManager;

@rendermode InteractiveServer

<PageTitle>Admin</PageTitle>

<h1>Admin</h1>

@if (users == null)
{
    <p>Loading users...</p>
}
else if (users.Count == 0)
{
    <p>No users found in the system.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>User I </th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ApplicationUser>? users;



    protected override async Task OnInitializedAsync()
    {
        //comment
        // Fetch all users using UserManager
        var allUsers = UserManager.Users; // This returns an IQueryable<ApplicationUser>
        users = allUsers.ToList();
    } 
}
